<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<style>
	body{
			background-color: #222629
		}
	h3 {
			padding:100px;
			font-family: Verdana;
			color: white;
			text-align: center;
			<!--font-size: 60px;-->
		}
	</style>
</head>

<body>
<h3>As the name suggests, Recommendation System is a piece of software that recommends us some
 products or services. Recommender system is used immensely in Today's world , from Amazon.com ,
 Netflix to Google search and many other systems use this as a service.
 
 <br><br><br>
 Here, we use a simple movie recommendation system. You can input movies which were released on or before 2016.
 The dataset used is not very vast. 
You can try inputs like Avatar, Spectre, Iron Man,etc. and then you'll get a list
 of recommedations that you might enjoy watching!!!</h3>